In [152]:
import pandas as pd
Forbes21 = pd.read_csv(r"C:\Users\ramolone\OneDrive - Microsoft\Documents\Data Analytics\Forbes-2021.csv")
print(Forbes21.head())
print(Forbes21.shape)

   Rank                                      Name        Country  Sales (B)  \
0   1.0                                      ICBC          China      190.5
1   2.0                            JPMorgan Chase  United States      136.2
2   3.0                        Berkshire Hathaway  United States      245.5
3   4.0                   China Construction Bank          China      173.5
4   5.0  Saudi Arabian Oil Company (Saudi Aramco)   Saudi Arabia      229.7

   Profit (B)   Assets(B)   Market Value (B)  Year
0        45.8       4914.7             249.5  2021
1        40.4       3689.3             464.8  2021
2        42.5        873.7             624.4  2021
3        39.3       4301.7             210.4  2021
4        49.3        510.3            1897.2  2021
(2100, 8)

In [153]:
Forbes21.insert(0, "New Rank", range(1, 1+ len(Forbes21)))
print(Forbes21.head())
print(Forbes21.shape)

   New Rank  Rank                                      Name        Country  \
0         1   1.0                                      ICBC          China
1         2   2.0                            JPMorgan Chase  United States
2         3   3.0                        Berkshire Hathaway  United States
3         4   4.0                   China Construction Bank          China
4         5   5.0  Saudi Arabian Oil Company (Saudi Aramco)   Saudi Arabia

   Sales (B)  Profit (B)   Assets(B)   Market Value (B)  Year
0      190.5        45.8       4914.7             249.5  2021
1      136.2        40.4       3689.3             464.8  2021
2      245.5        42.5        873.7             624.4  2021
3      173.5        39.3       4301.7             210.4  2021
4      229.7        49.3        510.3            1897.2  2021
(2100, 9)

In [154]:
Forbes21 = Forbes21.drop(columns =["Rank"])

In [155]:
Forbes21.dtypes

New Rank              int32
Name                 object
Country              object
Sales (B)           float64
Profit (B)          float64
 Assets(B)          float64
Market Value (B)    float64
Year                  int64
dtype: object

In [156]:
print(Forbes21.head())
print(Forbes21.shape)

   New Rank                                      Name        Country  \
0         1                                      ICBC          China
1         2                            JPMorgan Chase  United States
2         3                        Berkshire Hathaway  United States
3         4                   China Construction Bank          China
4         5  Saudi Arabian Oil Company (Saudi Aramco)   Saudi Arabia

   Sales (B)  Profit (B)   Assets(B)   Market Value (B)  Year
0      190.5        45.8       4914.7             249.5  2021
1      136.2        40.4       3689.3             464.8  2021
2      245.5        42.5        873.7             624.4  2021
3      173.5        39.3       4301.7             210.4  2021
4      229.7        49.3        510.3            1897.2  2021
(2100, 8)

In [157]:
Forbes21 = Forbes21.iloc[: -100, : ]
print(Forbes21)

      New Rank                                      Name        Country  \
0            1                                      ICBC          China
1            2                            JPMorgan Chase  United States
2            3                        Berkshire Hathaway  United States
3            4                   China Construction Bank          China
4            5  Saudi Arabian Oil Company (Saudi Aramco)   Saudi Arabia
...        ...                                       ...            ...
1995      1996                                     JTEKT          Japan
1996      1997                 Insurance Australia Group      Australia
1997      1998                         Sumec Corporation          China
1998      1999                               Gold Fields   South Africa
1999      2000                                    Paycom  United States

      Sales (B)  Profit (B)   Assets(B)   Market Value (B)  Year
0         190.5        45.8       4914.7             249.5  2021
1         136.2        40.4       3689.3             464.8  2021
2         245.5        42.5        873.7             624.4  2021
3         173.5        39.3       4301.7             210.4  2021
4         229.7        49.3        510.3            1897.2  2021
...         ...         ...          ...               ...   ...
1995       13.1       -34.9         12.0               3.5  2021
1996        5.4      -212.0         25.0               9.3  2021
1997       13.0        79.2          7.1               1.3  2021
1998        3.9       718.1          7.5               8.9  2021
1999      841.0       143.4          2.6              24.0  2021

[2000 rows x 8 columns]

In [158]:
Forbes19 = pd.read_csv(r"C:\Users\ramolone\OneDrive - Microsoft\Documents\Data Analytics\Forbes-2019.csv")
print(Forbes19.head())
print(Forbes19.shape)

   Rank                        Name        Country  Sales (B)  Profit (B)  \
0     1                        ICBC          China     175.87       45.22
1     2              JPMorgan Chase  United States     132.91       32.74
2     3     China Construction Bank          China     150.31       38.84
3     4  Agricultural Bank of China          China     137.46       30.89
4     5             Bank of America  United States     111.90       28.54

   Assets(B)  Market Value (B)  Year
0    4034.48            305.06  2019
1    2737.19            368.50  2019
2    3382.42            224.99  2019
3    3293.11            197.05  2019
4    2377.16            287.34  2019
(2000, 8)

In [159]:
Forbes19.rename(columns = {'Rank':'New Rank'}, inplace = True)

In [160]:
print(Forbes19)

      New Rank                        Name        Country  Sales (B)  \
0            1                        ICBC          China     175.87
1            2              JPMorgan Chase  United States     132.91
2            3     China Construction Bank          China     150.31
3            4  Agricultural Bank of China          China     137.46
4            5             Bank of America  United States     111.90
...        ...                         ...            ...        ...
1995      1996                    Thai Oil       Thailand      12.04
1996      1997           Bed Bath & Beyond  United States      12.03
1997      1998                      Incyte  United States       1.88
1998      1999          Fuyo General Lease          Japan       5.57
1999      2000                   JC Penney  United States      12.02

      Profit (B)  Assets(B)  Market Value (B)  Year
0          45.22    4034.48            305.06  2019
1          32.74    2737.19            368.50  2019
2          38.84    3382.42            224.99  2019
3          30.89    3293.11            197.05  2019
4          28.54    2377.16            287.34  2019
...          ...        ...               ...   ...
1995        0.31       8.26              4.62  2019
1996       -0.14       6.62              2.30  2019
1997        0.11       2.65             15.85  2019
1998        0.21      23.18              1.53  2019
1999       -0.26       7.87              0.40  2019

[2000 rows x 8 columns]

In [161]:
frames = [Forbes21, Forbes19]

In [162]:
ForbesComp = pd.concat(frames)

In [163]:
print(ForbesComp.head())
print(ForbesComp.shape)

   New Rank                                      Name        Country  \
0         1                                      ICBC          China
1         2                            JPMorgan Chase  United States
2         3                        Berkshire Hathaway  United States
3         4                   China Construction Bank          China
4         5  Saudi Arabian Oil Company (Saudi Aramco)   Saudi Arabia

   Sales (B)  Profit (B)   Assets(B)   Market Value (B)  Year  Assets(B)
0      190.5        45.8       4914.7             249.5  2021        NaN
1      136.2        40.4       3689.3             464.8  2021        NaN
2      245.5        42.5        873.7             624.4  2021        NaN
3      173.5        39.3       4301.7             210.4  2021        NaN
4      229.7        49.3        510.3            1897.2  2021        NaN
(4000, 9)

In [132]:
ForbesComp[ForbesComp.Year == 2021]

,New Rank,Name,Country,Sales (B),Profit (B),Assets (B),Market Value (B),Year,Assets (B)
0,1,ICBC,China,190.5,45.8,4914.7,249.5,2021,NaN
1,2,JPMorgan Chase,United States,136.2,40.4,3689.3,464.8,2021,NaN
2,3,Berkshire Hathaway,United States,245.5,42.5,873.7,624.4,2021,NaN
3,4,China Construction Bank,China,173.5,39.3,4301.7,210.4,2021,NaN
4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,229.7,49.3,510.3,1897.2,2021,NaN
...,...,...,...,...,...,...,...,...,...
1995,1996,JTEKT,Japan,13.1,-34.9,12.0,3.5,2021,NaN
1996,1997,Insurance Australia Group,Australia,5.4,-212.0,25.0,9.3,2021,NaN
1997,1998,Sumec Corporation,China,13.0,79.2,7.1,1.3,2021,NaN
1998,1999,Gold Fields,South Africa,3.9,718.1,7.5,8.9,2021,NaN
1999,2000,Paycom,United States,841.0,143.4,2.6,24.0,2021,NaN

In [118]:
ForbesComp.dtypes

New Rank              int64
Name                 object
Country              object
Sales (B)           float64
Profit (B)          float64
 Assets (B)         float64
Market Value (B)    float64
Year                  int64
Assets (B)          float64
dtype: object

In [119]:
ForbesComp.isnull()

,New Rank,Name,Country,Sales (B),Profit (B),Assets (B),Market Value (B),Year,Assets (B)
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,True,False,False,False
1996,False,False,False,False,False,True,False,False,False
1997,False,False,False,False,False,True,False,False,False
1998,False,False,False,False,False,True,False,False,False
1999,False,False,False,False,False,True,False,False,False

In [89]:
ForbesComp.to_csv("ForbesComp.csv")

In [90]:
missing_values = ["n/a", "na", "--"]
ForbesComp = pd.read_csv("ForbesComp.csv", na_values = missing_values)

In [91]:
ForbesComp

,Unnamed: 0,New Rank,Name,Country,Sales (B),Profit (B),Assets (B),Market Value (B),Year
0,0,1,ICBC,China,190.500,45.800,"4,914.70",249.5,2021
1,1,2,JPMorgan Chase,United States,136.200,40.400,"3,689.30",464.8,2021
2,2,3,Berkshire Hathaway,United States,245.500,42.500,873.7,624.4,2021
3,3,4,China Construction Bank,China,173.500,39.300,"4,301.70",210.4,2021
4,4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,229.700,49.300,510.3,"1,897.20",2021
...,...,...,...,...,...,...,...,...,...
3995,1995,1996,Thai Oil,Thailand,12.044,0.314,8.26,4.615,2019
3996,1996,1997,Bed Bath & Beyond,United States,12.029,-0.137,6.619,2.302,2019
3997,1997,1998,Incyte,United States,1.882,0.109,2.646,15.847,2019
3998,1998,1999,Fuyo General Lease,Japan,5.574,0.209,23.179,1.53,2019
3999,1999,2000,JC Penney,United States,12.019,-0.255,7.873,0.402,2019

In [93]:
ForbesComp.isnull().sum()

Unnamed: 0          0
New Rank            0
Name                0
Country             0
Sales (B)           2
Profit (B)          1
Assets (B)          6
Market Value (B)    0
Year                0
dtype: int64

In [94]:
ForbesComp.dtypes == "object"

Unnamed: 0          False
New Rank            False
Name                 True
Country              True
Sales (B)           False
Profit (B)          False
Assets (B)           True
Market Value (B)     True
Year                False
dtype: bool

In [95]:
num_vars = ForbesComp.columns[ForbesComp.dtypes != "object"]
cat_vars = ForbesComp.columns[ForbesComp.dtypes == "object"]

print(num_vars)
print(cat_vars)

Index(['Unnamed: 0', 'New Rank', 'Sales (B)', 'Profit (B)', 'Year'], dtype='object')
Index(['Name', 'Country', 'Assets (B)', 'Market Value (B)'], dtype='object')

In [99]:
ForbesComp[num_vars].isnull().sum().sort_values(ascending=False)

Sales (B)     2
Profit (B)    1
Unnamed: 0    0
New Rank      0
Year          0
dtype: int64